* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root {
    --white: #def2f1;
    --main-blue: #3aafa9;
    --darker-blue: #29918b;
    --board-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --header-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --playerXcolour: #17252A;
    --playerOcolour: #d7dfde;
    --dark-button: #17252A;
    --light-button: #d7dfde;
}

body {
    background-color: var(--main-blue);
}

.header {
    padding: 3.2vh;
    background-color: var(--white);
    box-shadow: var(--header-shadow);
}


/* RESET BUTTON */

#reset {
    background-color: var(--light-button);
    color: var(--dark-button);
    padding: 8px 13px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in .2s;
}

#reset:hover {
    background-color: var(--dark-button);
    color: var(--light-button);
}

/* TITLE IN HEADER */

.tictactoe {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: bold;
}

.game {
    text-align: center;
    margin-left: 60px;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 60px;
}

/* TIC TAC TOE BOARD */

.display {
    color: white;
    font-size: 35px;
    text-align: center;
    margin: 4vh;
    letter-spacing: 2px;
    display: block;
}


.hide {
    display: none;
}

.container {
    height: 57vh;
    width: 57vh;
    max-width: 57vh;
    max-height: 57vh;
    margin: 4.5vh auto;
    font-size: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid var(--white);
    box-shadow: var(--board-shadow);
    cursor: pointer;
}

.tile {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: var(--playerXcolour);
    font-weight: bold;
}

.playerO {
    color: var(--playerOcolour);
    font-weight: bold;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.top-left,
.top-middle,
.top-right,
.middle-left,
.middle-middle,
.middle-right,
.bottom-left,
.bottom-middle,
.bottom-right {
    border: 1px solid var(--white);
    transition: ease-in-out 0.2s;
}

 .top-left:hover,
.top-middle:hover,
.top-right:hover,
.middle-left:hover,
.middle-middle:hover,
.middle-right:hover,
.bottom-left:hover,
.bottom-middle:hover,
.bottom-right:hover { 
    background-color: var(--darker-blue);
}

/* FOOTER */

.footer {
    letter-spacing: 4px;
    margin-left: 10px;
    font-weight: bold;
    transform-origin: 0 0;
    font-size: 16px;
    transform: rotate(270deg);
}

